kaleido @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-kaleido_1753106458/work
logistro==1.1.0
vtk==9.4.2
w3lib @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/w3lib_1728593544972/work
watchdog @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_17oci7qz55/croot/watchdog_1740409923753/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/webencodings_1728586135895/work
websocket-client @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/websocket-client_1728587380721/work
Werkzeug @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_87am5fxnsf/croot/werkzeug_1737448721856/work
whatthepatch @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/whatthepatch_1728595757689/work
wheel==0.45.1
widgetsnbextension @ file:///Users/builder/cbouss/buildout/croot/widgetsnbextension_1735844095800/work
wrapt @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_30cvf__dq_/croot/wrapt_1736541623359/work
wslink @ file:///home/conda/feedstock_root/build_artifacts/wslink_1747717868707/work
wurlitzer @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/wurlitzer_1728595793015/work
xarray @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_da7wjaws3t/croot/xarray_1749132719186/work
xgboost==3.0.2
xlwings @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_4cvi5l9ij4/croot/xlwings_1743525459147/work
xyzservices @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/xyzservices_1728591543650/work
yapf @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/yapf_1728595829064/work
yarl @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_01an_nyy_6/croot/yarl_1732546853427/work
zict @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/zict_1728593607242/work
zipp @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_echurpkwug/croot/zipp_1732630743967/work
zope.interface @ file:///Users/builder/cbouss/buildout/croot/zope.interface_1735845126058/work
zstandard==0.23.0
